# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask instance folder
instance/

# Sphinx documentation
docs/_build/

# MkDocs documentation
/site/

# PyBuilder
target/

# Pycharm and VSCode
.idea/
venv/
.vscode/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store

# written by setuptools_scm
**/_version.py

src/visualizer/Basler_Candidate.exe
src/visualizer/Basler_Candidate.exe
notebooks/data_analysis/dask-worker-space/global.lock
notebooks/data_analysis/dask-worker-space/purge.lock
notebooks/data_analysis/dask-worker-space/worker-_lnqjbku.dirlock
notebooks/data_analysis/dask-worker-space/worker-0j6cphdi.dirlock
notebooks/data_analysis/dask-worker-space/worker-1vboypu4.dirlock
notebooks/data_analysis/dask-worker-space/worker-3n9wlgdn.dirlock
notebooks/data_analysis/dask-worker-space/worker-4jeienv5.dirlock
notebooks/data_analysis/dask-worker-space/worker-16j8m7m6.dirlock
notebooks/data_analysis/dask-worker-space/worker-92ftacfo.dirlock
notebooks/data_analysis/dask-worker-space/worker-d250ir15.dirlock
notebooks/data_analysis/dask-worker-space/worker-dkyor1vm.dirlock
notebooks/data_analysis/dask-worker-space/worker-e8g94mam.dirlock
notebooks/data_analysis/dask-worker-space/worker-hdhqd3ik.dirlock
notebooks/data_analysis/dask-worker-space/worker-i1w71lvy.dirlock
notebooks/data_analysis/dask-worker-space/worker-ioz_qm3a.dirlock
notebooks/data_analysis/dask-worker-space/worker-j6wte8mb.dirlock
notebooks/data_analysis/dask-worker-space/worker-jy6qb3n8.dirlock
notebooks/data_analysis/dask-worker-space/worker-pc3g8pbr.dirlock
notebooks/data_analysis/dask-worker-space/worker-raqa68hq.dirlock
notebooks/data_analysis/dask-worker-space/worker-rqth01s3.dirlock
notebooks/data_analysis/dask-worker-space/worker-s5926m5i.dirlock
notebooks/data_analysis/dask-worker-space/worker-t2g9zd8q.dirlock
notebooks/data_analysis/dask-worker-space/worker-uexe4_j3.dirlock
notebooks/data_analysis/dask-worker-space/worker-vngzii63.dirlock
notebooks/data_analysis/dask-worker-space/worker-vnusywjq.dirlock
notebooks/data_analysis/dask-worker-space/worker-xtjjzmf7.dirlock
